// Place all the styles related to the spades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spade-cell {
  width: 30%;
  min-height: 100px;
  min-width: 100px;
}

.spade-measures {
  width: fit-content;
  height: fit-content;
  border: solid 3px black;
  overflow: hidden;
  padding: 10px;
}