// Place all the styles related to the spades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spade-container {
  border: solid 3px black;
  overflow: hidden;
  padding: 20px;
  margin-bottom: -3px;
}